@model IEnumerable<SacramentPlanner.Models.Meeting>

@{
    ViewData["Title"] = "Meetings";
}
<div class="centered-container">
<h1>Meetings</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
</p>
 <div class="table-responsive">
        <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <!--th>
                @Html.DisplayNameFor(model => model.Id)
            </th-->
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Congregation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conducting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymn)
            </th>
            <th>
                Speakers
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <!--td>
                @Html.DisplayFor(modelItem => item.Id)
            </td-->
             <td data-label="Meeting Date">
                <h4 class="d-md-none">Meeting Date</h4>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td data-label="Congregation">
            <td>
                <h4 class="d-md-none">Congregation</h4>
                @Html.DisplayFor(modelItem => item.Congregation)
            </td>
            <td data-label="Conducting">
                <h4 class="d-md-none">Conducting</h4>
                @Html.DisplayFor(modelItem => item.Conducting)
            </td>
            <td data-label="OpeningPrayer">
                <h4 class="d-md-none">OpeningPrayer</h4>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
            </td>
            <td data-label="ClosingPrayer">
                <h4 class="d-md-none">ClosingPrayer</h4>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td data-label="OpeningHymn">
                <h4 class="d-md-none">OpeningHymn</h4>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
            </td>
            <td data-label="SacramentHymn">
                <h4 class="d-md-none">SacramentHymn</h4>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td data-label="IntermediateHymn">
                <h4 class="d-md-none">IntermediateHymn</h4>
                @Html.DisplayFor(modelItem => item.IntermediateHymn)
            </td>
            <td data-label="ClosingHymn">
                <h4 class="d-md-none">ClosingHymn</h4>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td data-label="Speakers">
                <h4 class="d-md-none">Speakers</h4>
                @{
                    if (ViewData[item.Id.ToString()] != "none")
                    {
                        foreach (var speaker in ViewData[item.Id.ToString()] as IEnumerable<SacramentPlanner.Models.Speaker>)
                        {
                            // item.Id.ToString()
                            <span>@speaker.Name</span><br />
                        }
                    }
                    else
                    {
                        <span>No assigned speakers</span>
                    }
                }
            </td>
            <td data-label="Topic"> 
                <h4 class="d-md-none">Topic (Optional)</h4>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>