@model List<Hymn>

<!-- https://www.learnrazorpages.com/razor-pages/partial-pages -->

@foreach (var item in Model)
{
    if ((string)ViewData["ClosingHymn"] == item.Title)
    {
        <option value="@item.Title" selected>@item.Title - page @item.Page</option>
    }
    else
    {
        <option value="@item.Title">@item.Title - page @item.Page</option>
    }
}