@model SacramentMeetingPlanner.Models.MeetingPlanner

<div class="centered-container">
    <h1>Delete Meeting</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <div class="table-container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Meeting Date:</th>
                    <td>@Html.DisplayFor(model => model.MeetingDate)</td>
                </tr>
                <tr>
                    <th>Conducting Leader:</th>
                    <td>@Html.DisplayFor(model => model.ConductingLeader)</td>
                </tr>
                <tr>
                    <th>Opening Song:</th>
                    <td>@Html.DisplayFor(model => model.OpeningSong)</td>
                </tr>
                <tr>
                    <th>Sacrament Hymn:</th>
                    <td>@Html.DisplayFor(model => model.SacramentHymn)</td>
                </tr>
                <tr>
                    <th>Closing Song:</th>
                    <td>@Html.DisplayFor(model => model.ClosingSong)</td>
                </tr>
                <tr>
                    <th>Intermediate Number:</th>
                    <td>@Html.DisplayFor(model => model.IntermediateNumber)</td>
                </tr>
                <tr>
                    <th>Opening Prayer:</th>
                    <td>@Html.DisplayFor(model => model.OpeningPrayer)</td>
                </tr>
                <tr>
                    <th>Closing Prayer:</th>
                    <td>@Html.DisplayFor(model => model.ClosingPrayer)</td>
                </tr>
                <tr>
                    <th>Speakers:</th>
                    <td>
                        <ul>
                            @foreach (var speaker in Model.Speakers)
                            {
                                <li>@speaker.Name - @speaker.Subject</li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Hymns:</th>
                    <td>
                        <ul>
                            @foreach (var hymn in Model.Hymns)
                            {
                                <li>@hymn.Number - @hymn.Title</li>
                            }
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="centered-container ">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete Meeting</button>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </form>
        </div>
    </div>
</div>
<style>
    .centered-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .table-container {
        background-color: #F5F5DC;
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
        border: groove;
    }

</style>