@model IEnumerable<SacramentMeetingPlanner.Models.MeetingPlanner>

<div class="centered-container">
    <h1>Meeting Planner List</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Meeting</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Meeting Date
                    </th>
                    <th>
                        Conducting Leader
                    </th>
                    <th>
                        Opening Song
                    </th>
                    <th>
                        Sacrament Hymn
                    </th>
                    <th>
                        Closing Song
                    </th>
                    <th>
                        Intermediate Number
                    </th>
                    <th>
                        Opening Prayer
                    </th>
                    <th>
                        Closing Prayer
                    </th>
                    <th>
                        Speakers
                    </th>
                    <th>
                        Hymns
                    </th>
                    <th>
                        Actions
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.MeetingDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ConductingLeader)</td>
                        <td>@Html.DisplayFor(modelItem => item.OpeningSong)</td>
                        <td>@Html.DisplayFor(modelItem => item.SacramentHymn)</td>
                        <td>@Html.DisplayFor(modelItem => item.ClosingSong)</td>
                        <td>@Html.DisplayFor(modelItem => item.IntermediateNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.OpeningPrayer)</td>
                        <td>@Html.DisplayFor(modelItem => item.ClosingPrayer)</td>
                        <td>
                            @foreach (var speaker in item.Speakers)
                            {
                                <p>@speaker.Name - @speaker.Subject</p>
                            }
                        </td>
                        <td>
                            @foreach (var hymn in item.Hymns)
                            {
                                <p>@hymn.Number - @hymn.Title</p>
                            }
                        </td>
                        
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    .centered-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
</style>